<a href="https://colab.research.google.com/github/buriihenry/Machine-Learning-2/blob/master/Fraud_detection_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
%time data = pd.read_csv('https://www.kaggle.com/sanjana08/paysim-data-analysis/data?select=PS_20174392719_1491204439457_log.csv',sep='delimiter', header=None)
print(data.shape)

CPU times: user 11.3 ms, sys: 3.1 ms, total: 14.4 ms
Wall time: 520 ms
(168, 1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [6]:
pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [7]:
#Creating an API toke to read from kaggle
#mkdir ~/.kaggle
#cp kaggle.json ~/.kaggle/
#! chmod 600 ~/.kaggle/kaggle.json
#!kaggle datasets download -d kaggle kernels pull sanjana08/paysim-data-analysis

In [22]:
data = pd.read_csv('drive/My Drive/Projects/Fraud.csv')
data.sample(15)

         step      type      amount  ... newbalanceDest  isFraud  isFlaggedFraud
2563946   206  CASH_OUT   178924.31  ...     1451244.08        0               0
5219738   370   CASH_IN   141095.46  ...     4678696.36        0               0
5145404   356   PAYMENT     1362.20  ...           0.00        0               0
2392338   201   PAYMENT     8276.10  ...           0.00        0               0
259889     14   CASH_IN   274382.76  ...     1210608.69        0               0
5030316   354  CASH_OUT   131421.53  ...      638276.65        0               0
5661735   396   PAYMENT    35884.72  ...           0.00        0               0
4790854   345  TRANSFER  3696465.78  ...     8294184.92        0               0
4868338   348   CASH_IN   147113.57  ...           0.00        0               0
2657058   210  TRANSFER   623712.24  ...      652155.36        0               0
1816666   163   PAYMENT     8650.85  ...           0.00        0               0
4358268   309   PAYMENT    38468.89  ...           0.00        0               0
3347107   253   PAYMENT     6848.55  ...           0.00        0               0
1302547   136  CASH_OUT    74374.78  ...       74374.78        0               0
197086     13   PAYMENT     8987.10  ...           0.00        0               0

[15 rows x 11 columns]

In [23]:
# getting the information related to data

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB