## Project

we will examine the stock price of Microsoft Corporation (MSFT) as reported by the National Association of Securities Dealers Automated Quotations (NASDAQ)

MSFTâ€™s stocks are listed on NASDAQ and their value is updated every working day of the stock market. It should be noted that the market does not allow trading on Saturdays and Sundays, therefore there is a gap between the two dates. The Opening Value of the stock, the Highest and Lowest values of that stock on the same days, as well as the Closing Value at the end of the day, are all indicated for each date.

In [21]:
# importing Libraries 
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib
from sklearn.preprocessing import MinMaxScaler
from keras.layers import LSTM, Dense, Dropout
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib. dates as mandates
from sklearn import linear_model
from keras.models import Sequential
from keras.layers import Dense
import keras.backend as K
from keras.callbacks import EarlyStopping
from keras.optimizers import Adam 
from keras.models import load_model
from keras.layers import LSTM
from keras.utils.vis_utils import plot_model

In [24]:
#read data
df=pd.read_csv('Data/MSFT.csv',na_values=['null'], index_col='Date', parse_dates=True, infer_datetime_format=True)
df.head()

                Open      High       Low     Close  Adj Close      Volume
Date
1986-03-13  0.088542  0.101563  0.088542  0.097222   0.061491  1031788800
1986-03-14  0.097222  0.102431  0.097222  0.100694   0.063687   308160000
1986-03-17  0.100694  0.103299  0.100694  0.102431   0.064785   133171200
1986-03-18  0.102431  0.103299  0.098958  0.099826   0.063138    67766400
1986-03-19  0.099826  0.100694  0.097222  0.098090   0.062040    47894400

In [ ]:

df.c