In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train =pd.read_csv('Data/train_ctrUa4K.csv')
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

We know that machine learning models take only numbers as inputs and can not process strings. So, we have to deal with the categories present in the dataset and convert them into numbers.

In [3]:
train['Gender']=train['Gender'].map({'Male':0, 'Female':1})
train['Married']=train['Married'].map({'No':0, 'Yes':1})
train['Loan_Status']=train['Loan_Status'].map({'N':0, 'Y':1})

Converted the categories present in the Gender, Married and the Loan Status variable into numbers, simply using the map function of python

In [4]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [5]:
#remove missing values
train=train.dropna()
train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [8]:
X = train[['Gender', 'Married', 'ApplicantIncome', 'LoanAmount', 'Credit_History']]
y=train.Loan_Status
X.shape, y.shape

((480, 5), (480,))

In [12]:
#model Bulding

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_cv, y_train,y_cv = train_test_split(X,y, test_size=0.2, random_state=10)

we will first split our dataset into a training and validation set, so that we can train the model on the training set and evaluate its performance on the validation set.

In [13]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(max_depth=4, random_state=10)
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=4, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [16]:
from sklearn.metrics import accuracy_score
pred_cv = model.predict(X_cv)
accuracy_score(y_cv,pred_cv)

0.8020833333333334

In [17]:
pred_train = model.predict(X_train)
accuracy_score(y_train, pred_train)

0.8203125

In [18]:
#save the trained model
import pickle
pickle_out = open('cassifier.pk1', mode ='wb')
pickle.dump(model, pickle_out)
pickle_out.close()